In [11]:
import numpy as np
import pandas as pd
import time
from mlxtend.frequent_patterns import apriori, association_rules
from collections import defaultdict

In [13]:
data= pd.read_csv('student_depression_dataset.csv')

In [15]:
data.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27901 non-null  object
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(7), int64(2), object(9)
memory usage: 3.8+ MB

In [19]:
data.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Depression
count,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000
mean,70442.149421,25.822300,3.141214,0.000430,7.656104,2.943837,0.000681,7.156984,0.585499
std,40641.175216,4.905687,1.381465,0.043992,1.470707,1.361148,0.044394,3.707642,0.492645
min,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35039.000000,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,0.000000
50%,70684.000000,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,1.000000
75%,105818.000000,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,1.000000
max,140699.000000,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,1.000000

In [21]:
data.isnull().sum()

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [23]:
#On verifie les valeurs unique de la colonne Dietary Habits pour savoir si on le garde ou pas
valeurs_uniques = data['Dietary Habits'].unique()
print(valeurs_uniques)

['Healthy' 'Moderate' 'Unhealthy' 'Others']

In [25]:
#Supprimons les colonnes inutiles
drop_colo=['id', 'City', 'Profession','Work Pressure', 'Degree', 'Job Satisfaction']

data_clean= data.drop(columns=drop_colo, errors= 'ignore')

In [27]:
data_clean.head()

,Gender,Age,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,33.0,5.0,8.97,2.0,'5-6 hours',Healthy,Yes,3.0,1.0,No,1
1,Female,24.0,2.0,5.90,5.0,'5-6 hours',Moderate,No,3.0,2.0,Yes,0
2,Male,31.0,3.0,7.03,5.0,'Less than 5 hours',Healthy,No,9.0,1.0,Yes,0
3,Female,28.0,3.0,5.59,2.0,'7-8 hours',Moderate,Yes,4.0,5.0,Yes,1
4,Female,25.0,4.0,8.13,3.0,'5-6 hours',Moderate,Yes,1.0,1.0,No,0

In [29]:
#Discrétisons les variables numériques
#Variable Age
data_clean['Age']=pd.qcut(data['Age'], q=4, duplicates= 'drop', labels=['Very Low', 'Low', 'Hight', 'Very Hight']).astype(str)

#Variable Academic Pressure
data_clean['Academic Pressure']=pd.qcut(data['Academic Pressure'], q=4, duplicates= 'drop', labels=['Very Low', 'Low', 'Hight', 'Very Hight']).astype(str)

#Variable CGPA
data_clean['CGPA']=pd.qcut(data['CGPA'], q=4, duplicates= 'drop', labels=['Very Low', 'Low', 'Hight', 'Very Hight']).astype(str)

#Variable CGPA
data_clean['Study Satisfaction']=pd.qcut(data['Study Satisfaction'], q=4, duplicates= 'drop', labels=['Very Low', 'Low', 'Hight', 'Very Hight']).astype(str)

In [31]:
data_clean.head()

,Gender,Age,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,Very Hight,Very Hight,Very Hight,Very Low,'5-6 hours',Healthy,Yes,3.0,1.0,No,1
1,Female,Low,Very Low,Very Low,Very Hight,'5-6 hours',Moderate,No,3.0,2.0,Yes,0
2,Male,Very Hight,Low,Low,Very Hight,'Less than 5 hours',Healthy,No,9.0,1.0,Yes,0
3,Female,Hight,Low,Very Low,Very Low,'7-8 hours',Moderate,Yes,4.0,5.0,Yes,1
4,Female,Low,Hight,Hight,Low,'5-6 hours',Moderate,Yes,1.0,1.0,No,0

In [33]:
#Convertissons chaque ligne en semble d'itemset
transactions = data_clean.astype(str).apply(lambda x: set(x.dropna()), axis=1).tolist()
print(transactions[:5])

[{'Very Low', 'Male', '1', '1.0', 'Very Hight', "'5-6 hours'", 'Yes', 'Healthy', 'No', '3.0'}, {'Very Low', 'Low', 'Moderate', '0', 'Very Hight', '2.0', "'5-6 hours'", 'Yes', 'Female', 'No', '3.0'}, {'Low', "'Less than 5 hours'", 'Male', '9.0', '1.0', '0', 'Very Hight', 'Yes', 'Healthy', 'No'}, {'Very Low', 'Low', "'7-8 hours'", 'Moderate', '1', '5.0', '4.0', 'Yes', 'Female', 'Hight'}, {'Low', 'Moderate', '1.0', '0', "'5-6 hours'", 'Yes', 'Female', 'No', 'Hight'}]

In [35]:
# Créer un dictionnaire pour stocker tous les items uniques
all_items = defaultdict(int)
for transaction in transactions:
    for item in transaction:
        all_items[item] += 1

In [37]:
# Créer un DataFrame binaire
df_trans = pd.DataFrame([[item in transaction for item in all_items.keys()] for transaction in transactions], columns=all_items.keys())

In [45]:
# Mesurer le temps d'exécution
start_time = time.time()

# Utilisation de l'algo apriori
frequent_itemsets = apriori(df_trans, min_support=0.01, use_colnames=True)

# Génération des règles d'association
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)

# Affichage des règles triées par confiance (ordre décroissant)
rules = rules.sort_values(by="confidence", ascending=False)

apriori_time = time.time() - start_time

In [49]:
# Affichage des premières règles générées
print(rules.head())
print(f"Apriori terminé en {apriori_time:.4f} secondes")

# Enregistrement des résultats pour analyse ultérieure
rules.to_csv("apriori_rules.csv", index=False)
print("Règles sauvegardées sous 'apriori_rules.csv' !")

                                   antecedents consequents  \
44498         (Low, Unhealthy, 5.0, Yes, 10.0)         (1)
25337              (Yes, 5.0, Unhealthy, 10.0)         (1)
50865  (Low, '7-8 hours', Male, 1, 5.0, Hight)       (Yes)
44675       (Unhealthy, 5.0, Yes, 10.0, Hight)         (1)
35503    (Very Low, Unhealthy, 5.0, Yes, 10.0)         (1)

       antecedent support  consequent support   support  confidence      lift  \
44498            0.012114            0.585499  0.011792    0.973373  1.662468
25337            0.017204            0.585499  0.016702    0.970833  1.658131
50865            0.011720            0.804201  0.011362    0.969419  1.205444
44675            0.011577            0.585499  0.011218    0.969040  1.655068
35503            0.012974            0.585499  0.012544    0.966851  1.651329

       representativity  leverage  conviction  zhangs_metric   jaccard  \
44498               1.0  0.004699   15.566826       0.403371  0.020128
25337               1.0  0.006629   14.211472       0.403859  0.028502
50865               1.0  0.001936    6.402641       0.172451  0.014122
44675               1.0  0.004440   13.388391       0.400431  0.019148
35503               1.0  0.004948   12.504122       0.399612  0.021409

       certainty  kulczynski
44498   0.935761    0.496756
25337   0.929634    0.499680
50865   0.843814    0.491773
44675   0.925308    0.494100
35503   0.920026    0.494138
Apriori terminé en 16.3673 secondes
Règles sauvegardées sous 'apriori_rules.csv' !

Règles d’association qui ont comme conséquence la variable cible Depression.

In [51]:
rules= pd.read_csv("apriori_rules.csv")
# Filtrer les règles où y est le conséquent
rules_target = rules[rules['consequents'].astype(str).str.contains("'1'")]

# Trier par confiance (ordre décroissant)
rules_target = rules_target.sort_values(by="confidence", ascending=False)

# Afficher les 5 premières règles trouvées
print("Règles qui prédisent Dépression = 1 :")
print(rules_target[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head())

# Sauvegarde des résultats
rules_target.to_csv("apriori_rules_target.csv", index=False)
print("Règles sauvegardées sous 'apriori_rules_target.csv' !")

Règles qui prédisent Dépression = 1 :
                                         antecedents       consequents  \
0  frozenset({'Low', 'Unhealthy', '5.0', 'Yes', '...  frozenset({'1'})
1     frozenset({'Yes', '5.0', 'Unhealthy', '10.0'})  frozenset({'1'})
3  frozenset({'Unhealthy', '5.0', 'Yes', '10.0', ...  frozenset({'1'})
4  frozenset({'Very Low', 'Unhealthy', '5.0', 'Ye...  frozenset({'1'})
5  frozenset({'Unhealthy', 'Very Hight', '5.0', '...  frozenset({'1'})

    support  confidence      lift
0  0.011792    0.973373  1.662468
1  0.016702    0.970833  1.658131
3  0.011218    0.969040  1.655068
4  0.012544    0.966851  1.651329
5  0.010430    0.966777  1.651203
Règles sauvegardées sous 'apriori_rules_target.csv' !